<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    {{!-- FAVICON --}}
    {{!-- <link rel="icon" type="image/png" href="/favicon-32x32.png?v=1.1" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=1.1" sizes="16x16" /> --}}
    <title>Let's Go Travel Planner</title>
    
</head>

<body>
    {{{ body }}}

    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <script>
        const options = {
            bottom: '64px', // default: '32px'
            right: 'unset', // default: '32px'
            left: '32px', // default: 'unset'
            time: '0.2s', // default: '0.3s'
            mixColor: 'grey', // default: '#fff'
            backgroundColor: '#bbf1fa', // default: '#fff'
            buttonColorDark: '#ec4646', // default: '#100f2c'
            buttonColorLight: '#fff', // default: '#fff'
            saveInCookies: false, // default: true,
            label: '🌓', // default: ''
            autoMatchOsTheme: true // default: true
        }
        const darkmode = new Darkmode(options);
        darkmode.showWidget();
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>