<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Let's Go Travel Planner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="#">Sign Out</a>
            </div>
        </div>
    </div>
</nav>

<!-- Search Box -->
<section class="container green">
    <div class="row h-100">
        <div class="col-8 my-auto">
            <form id="create-form">
                <div class="form-group text-center">
                    <p class="large-size font-weight-bold">
                        Your Destination:
                        <input type="text" id="ca" name="name" />
                        <button type="submit" class="text-center">Submit</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-4 my-auto">
            <img src="./image/travel.jpg" class="img-fluid" alt="Search Page" />
        </div>
    </div>
</section>