<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">let's go travel planner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="./logout">Sign Out</a>
            </div>
        </div>
    </div>
</nav>

<!-- Search Box -->
<section class="searchContainer">
    <div class="row mb-5">
        <div class="col my-5">
            <form id="create-form">
                <div class="form-group text-center my-5">
                        <input type="text" id="ca" name="name" placeholder="  Where are you going?"/>
<<<<<<< HEAD
                        <button type="submit" class="text-center btn btn-light" id="create-form submit-search">Submit</button>
=======
                        <button type="submit" class="text-center btn btn-light" id="create-form submit-search" onclick="scrollWin(0, 50)">Submit</button>
>>>>>>> main
                </div>
            </form>
            <div class="my-5 text-center">
                <a href="./result"><button href="./result" class="btn btn-light">View Itinerary</button></a>
            </div>

        </div>
    </div>
</section>

<!-- Search Result -->
<section class="container">
    {{!-- Restaurant Result --}}
    <div class="row me-5">
        <div class="col mx-5 mt-5" id="restaurantsResults">
            {{!-- <h4 class="text-center">Restaurants</h4> --}}
        </div>
        {{!-- Activity Result --}}
        <div class="col mt-5" id="activitiesResults">
            {{!-- <h4 class="text-center">Activities</h4> --}}
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/search.js"></script>