font-family: 'Raleway', sans-serif;


form.signup,
form.login {
    margin-top: 50px;
}

body {
    background-color: #33aa85;
    
}

.large-size {
    font-size: large;
    color: #e0c10c;
}

.activitySaveBtn {
    font: 40px;
    color: yellow;
}

.save {
    margin-left: 7px;
}

.searchContainer {
    background-image: url("../image/map-plan.jpeg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: auto ;
    background-size: cover;
    left:0px;
    width: 100%;
    height: 100%;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 .titleContainer{
     margin-top: 80px;
    display: grid;
    place-items: center;
    margin-bottom: -80px;
 }
 .logoName{
    font-size: 10rem;
    font-family: 'La Belle Aurore', cursive;
 }

 .tPlanner{
     margin-top: -60px;
     margin-left: -230px;
     font-size: 1.5em;
 }

 .mapPoint{
     height: 150px;
     width: auto;
     display: absolute;
     margin-left: -55px;
     margin-top: -55px;
 }

#ca, #create-form{
    border-radius: 10px;
    padding:3px;
}
/* 
#formSearchButton{
    width: 300px;
} */
#ca{
    width: 300px;
}

.navbar-brand{
    font-family: 'La Belle Aurore', cursive;
}