font-family: 'Raleway', sans-serif;


form.signup,
form.login {
    margin-top: 50px;
}

body {
    background-color: #33aa85;
    
}

.large-size {
    font-size: large;
    color: #e0c10c;
}

.activitySaveBtn {
    font: 40px;
    color: yellow;
}

.save {
    margin-left: 7px;
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 .logoName{
    font-size: 10rem;
    font-family: 'La Belle Aurore', cursive;
 }

 .tPlanner{
     margin-top: -50px;
     font-size: 1.5em;
 }

 .mapPoint{
     height: 150px;
     width: auto;
     display: absolute;
     margin-left: 150px;
     margin-top: -80px;
 }